# Analiza podatkov sistema BicikeLJ

In [56]:
# Matplotlib inline
%matplotlib inline
# Imports
from urllib.request import urlopen
import json
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages
from pylab import *
# Figure size and style
plt.rcParams['figure.figsize'] = (15, 10)
#plt.style.use('ggplot')

Branje podatkov po protokolih, opisanih v: https://developer.jcdecaux.com/#/opendata/vls?page=getstarted

Zanimiva je diplomska naloga: http://geo.ff.uni-lj.si/pisnadela/pdfs/zaksem_201409_ziga_jamnik.pdf

In [57]:
# Parameters
# Bicycle, station dynamic infos
station_data_url = "https://api.jcdecaux.com/vls/v1/stations?contract=Ljubljana&apiKey=0a494317d60d3d556d0755600b078ea6b26af90f"
# Station info dataframe
station_info_fn = "bicikelj_station_info.csv"
station_data_fn = "bicikelj_station_data_1703.csv"

# Informacije o postajah

In [58]:
response = urlopen(station_data_url)
if response.code == 200:
    data = response.read().decode('utf-8')
else:
    print("Wrong response from ", station_data_url)

In [59]:
station_info_json = json.loads(data)

In [60]:
station_info = pd.DataFrame(station_info_json).sort_values(["number"]).reset_index(drop=True)

In [61]:
station_info = station_info[station_info['status'] == "OPEN"]

In [62]:
station_info.columns

Index(['address', 'available_bike_stands', 'available_bikes', 'banking',
       'bike_stands', 'bonus', 'contract_name', 'last_update', 'name',
       'number', 'position', 'status'],
      dtype='object')

In [63]:
station_info = station_info[['address', 'banking', 'bike_stands', 'bonus', 'name',
                             'number', 'position', 'status']].copy()

In [64]:
station_info = pd.concat([station_info.drop(['position'], axis=1), station_info["position"].apply(pd.Series)], axis=1)
station_info.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>address</th>
      <th>banking</th>
      <th>bike_stands</th>
      <th>bonus</th>
      <th>name</th>
      <th>number</th>
      <th>status</th>
      <th>lat</th>
      <th>lng</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Prešernov trg 6</td>
      <td>False</td>
      <td>20</td>
      <td>False</td>
      <td>PREŠERNOV TRG-PETKOVŠKOVO NABREŽJE</td>
      <td>1</td>
      <td>OPEN</td>
      <td>46.051367</td>
      <td>14.506542</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Pogačarjev trg 3</td>
      <td>False</td>
      <td>18</td>
      <td>False</td>
      <td>POGAČARJEV TRG-TRŽNICA</td>
      <td>2</td>
      <td>OPEN</td>
      <td>46.051093</td>
      <td>14.507186</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Kongresni trg 3</td>
      <td>False</td>
      <td>20</td>
      <td>False</td>
      <td>KONGRESNI TRG-ŠUBIČEVA ULICA</td>
      <td>3</td>
      <td>OPEN</td>
      <td>46.050388</td>
      <td>14.504623</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Cankarjeva cesta 1</td>
      <td>False</td>
      <td>26</td>
      <td>False</td>
      <td>CANKARJEVA UL.-NAMA</td>
      <td>4</td>
      <td>OPEN</td>
      <td>46.052431</td>
      <td>14.503257</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Breg 20</td>
      <td>False</td>
      <td>20</td>
      <td>False</td>
      <td>BREG</td>
      <td>5</td>
      <td>OPEN</td>
      <td>46.046498</td>
      <td>14.505148</td>
    </tr>
  </tbody>
</table>
</div>

In [65]:
# Save to CSV
station_info.to_csv(station_info_fn, index=True)

In [66]:
station_info_s = station_info[["bike_stands", "name", "number"]]
station_info_s = station_info_s.set_index("number")

In [67]:
station_info_s

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>bike_stands</th>
      <th>name</th>
    </tr>
    <tr>
      <th>number</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>20</td>
      <td>PREŠERNOV TRG-PETKOVŠKOVO NABREŽJE</td>
    </tr>
    <tr>
      <th>2</th>
      <td>18</td>
      <td>POGAČARJEV TRG-TRŽNICA</td>
    </tr>
    <tr>
      <th>3</th>
      <td>20</td>
      <td>KONGRESNI TRG-ŠUBIČEVA ULICA</td>
    </tr>
    <tr>
      <th>4</th>
      <td>26</td>
      <td>CANKARJEVA UL.-NAMA</td>
    </tr>
    <tr>
      <th>5</th>
      <td>20</td>
      <td>BREG</td>
    </tr>
    <tr>
      <th>6</th>
      <td>18</td>
      <td>GRUDNOVO NABREŽJE-KARLOVŠKA C.</td>
    </tr>
    <tr>
      <th>7</th>
      <td>18</td>
      <td>MIKLOŠIČEV PARK</td>
    </tr>
    <tr>
      <th>8</th>
      <td>22</td>
      <td>BAVARSKI DVOR</td>
    </tr>
    <tr>
      <th>9</th>
      <td>26</td>
      <td>TRG OF-KOLODVORSKA UL.</td>
    </tr>
    <tr>
      <th>10</th>
      <td>18</td>
      <td>MASARYKOVA DDC</td>
    </tr>
    <tr>
      <th>11</th>
      <td>20</td>
      <td>VILHARJEVA CESTA</td>
    </tr>
    <tr>
      <th>12</th>
      <td>20</td>
      <td>PARK NAVJE-ŽELEZNA CESTA</td>
    </tr>
    <tr>
      <th>13</th>
      <td>16</td>
      <td>TRG MDB</td>
    </tr>
    <tr>
      <th>14</th>
      <td>20</td>
      <td>PARKIRIŠČE NUK 2-FF</td>
    </tr>
    <tr>
      <th>15</th>
      <td>18</td>
      <td>AMBROŽEV TRG</td>
    </tr>
    <tr>
      <th>16</th>
      <td>24</td>
      <td>GH ŠENTPETER-NJEGOŠEVA C.</td>
    </tr>
    <tr>
      <th>17</th>
      <td>18</td>
      <td>ILIRSKA ULICA</td>
    </tr>
    <tr>
      <th>18</th>
      <td>20</td>
      <td>TRŽAŠKA C.-ILIRIJA</td>
    </tr>
    <tr>
      <th>19</th>
      <td>20</td>
      <td>TIVOLI</td>
    </tr>
    <tr>
      <th>20</th>
      <td>14</td>
      <td>STARA CERKEV</td>
    </tr>
    <tr>
      <th>21</th>
      <td>26</td>
      <td>KINO ŠIŠKA</td>
    </tr>
    <tr>
      <th>22</th>
      <td>18</td>
      <td>ŠPICA</td>
    </tr>
    <tr>
      <th>23</th>
      <td>20</td>
      <td>BARJANSKA C.-CENTER STAREJŠIH TRNOVO</td>
    </tr>
    <tr>
      <th>24</th>
      <td>16</td>
      <td>ZALOŠKA C.-GRABLOVIČEVA C.</td>
    </tr>
    <tr>
      <th>25</th>
      <td>21</td>
      <td>TRŽNICA MOSTE</td>
    </tr>
    <tr>
      <th>26</th>
      <td>18</td>
      <td>ROŽNA DOLINA-ŠKRABČEVA UL.</td>
    </tr>
    <tr>
      <th>27</th>
      <td>20</td>
      <td>DUNAJSKA C.-PS PETROL</td>
    </tr>
    <tr>
      <th>28</th>
      <td>18</td>
      <td>PLEČNIKOV STADION</td>
    </tr>
    <tr>
      <th>29</th>
      <td>18</td>
      <td>DUNAJSKA C.-PS MERCATOR</td>
    </tr>
    <tr>
      <th>30</th>
      <td>22</td>
      <td>VOJKOVA C.-BOŽIČEVA C.</td>
    </tr>
    <tr>
      <th>31</th>
      <td>26</td>
      <td>ŠPORTNI CENTER STOŽICE</td>
    </tr>
    <tr>
      <th>32</th>
      <td>8</td>
      <td>KOPRSKA ULICA</td>
    </tr>
    <tr>
      <th>33</th>
      <td>22</td>
      <td>MERCATOR CENTER ŠIŠKA</td>
    </tr>
    <tr>
      <th>34</th>
      <td>20</td>
      <td>CITYPARK</td>
    </tr>
    <tr>
      <th>35</th>
      <td>20</td>
      <td>BTC CITY - DVORANA A</td>
    </tr>
    <tr>
      <th>36</th>
      <td>20</td>
      <td>BTC CITY - ATLANTIS</td>
    </tr>
    <tr>
      <th>37</th>
      <td>20</td>
      <td>TRNOVO</td>
    </tr>
    <tr>
      <th>38</th>
      <td>20</td>
      <td>P+R BARJE</td>
    </tr>
    <tr>
      <th>39</th>
      <td>20</td>
      <td>P + R DOLGI MOST</td>
    </tr>
    <tr>
      <th>40</th>
      <td>21</td>
      <td>BONIFACIJA</td>
    </tr>
    <tr>
      <th>41</th>
      <td>20</td>
      <td>ANTONOV TRG</td>
    </tr>
    <tr>
      <th>42</th>
      <td>20</td>
      <td>BRATOVŠEVA PLOŠČAD</td>
    </tr>
    <tr>
      <th>43</th>
      <td>20</td>
      <td>BS4 - STOŽICE</td>
    </tr>
    <tr>
      <th>44</th>
      <td>20</td>
      <td>SAVSKO NASELJE 2 - LINHARTOVA CESTA</td>
    </tr>
    <tr>
      <th>45</th>
      <td>20</td>
      <td>SAVSKO NASELJE 1 - ŠMARTINSKA CESTA</td>
    </tr>
    <tr>
      <th>46</th>
      <td>20</td>
      <td>SITULA</td>
    </tr>
    <tr>
      <th>47</th>
      <td>19</td>
      <td>ŠTEPANJSKO NASELJE 1 - JAKČEVA ULICA</td>
    </tr>
    <tr>
      <th>48</th>
      <td>20</td>
      <td>HOFER - KAJUHOVA</td>
    </tr>
    <tr>
      <th>49</th>
      <td>20</td>
      <td>BRODARJEV TRG</td>
    </tr>
    <tr>
      <th>50</th>
      <td>20</td>
      <td>PREGLOV TRG</td>
    </tr>
    <tr>
      <th>51</th>
      <td>20</td>
      <td>ŠTEPANJSKO NASELJE 2 - LITIJSKA CESTA</td>
    </tr>
  </tbody>
</table>
</div>

# Branje podatkov o postajah

In [68]:
station_data_full = pd.read_csv(station_data_fn, index_col="last_update_time", parse_dates=True)

In [69]:
station_data_full.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>available_bike_stands</th>
      <th>available_bikes</th>
      <th>bike_stands</th>
      <th>number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>22270.000000</td>
      <td>22270.000000</td>
      <td>22270.000000</td>
      <td>22270.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>13.507544</td>
      <td>6.280826</td>
      <td>19.856309</td>
      <td>24.744769</td>
    </tr>
    <tr>
      <th>std</th>
      <td>5.482766</td>
      <td>5.125002</td>
      <td>2.874461</td>
      <td>14.650044</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>8.000000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>10.000000</td>
      <td>2.000000</td>
      <td>18.000000</td>
      <td>12.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>14.000000</td>
      <td>5.000000</td>
      <td>20.000000</td>
      <td>24.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>18.000000</td>
      <td>10.000000</td>
      <td>20.000000</td>
      <td>37.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>26.000000</td>
      <td>26.000000</td>
      <td>26.000000</td>
      <td>51.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [70]:
station_data_full.index.min()

Timestamp('2017-03-29 14:19:25')

In [71]:
station_data_full.index.max()

Timestamp('2017-03-31 23:54:09')

In [72]:
station_data_full.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>available_bike_stands</th>
      <th>available_bikes</th>
      <th>bike_stands</th>
      <th>number</th>
    </tr>
    <tr>
      <th>last_update_time</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-03-29 14:19:25</th>
      <td>17</td>
      <td>3</td>
      <td>20</td>
      <td>42</td>
    </tr>
    <tr>
      <th>2017-03-29 14:19:28</th>
      <td>8</td>
      <td>12</td>
      <td>20</td>
      <td>36</td>
    </tr>
    <tr>
      <th>2017-03-29 14:19:40</th>
      <td>16</td>
      <td>4</td>
      <td>20</td>
      <td>46</td>
    </tr>
    <tr>
      <th>2017-03-29 14:20:16</th>
      <td>13</td>
      <td>7</td>
      <td>20</td>
      <td>51</td>
    </tr>
    <tr>
      <th>2017-03-29 14:20:30</th>
      <td>16</td>
      <td>0</td>
      <td>16</td>
      <td>24</td>
    </tr>
  </tbody>
</table>
</div>

In [73]:
station_data_stands = station_data_full.pivot(columns='number', values='available_bike_stands')
station_data_bikes = station_data_full.pivot(columns='number', values='available_bikes')

In [74]:
station_data_stands_hour = station_data_stands.groupby(station_data_stands.index.hour).aggregate("mean")
station_data_bikes_hour = station_data_bikes.groupby(station_data_bikes.index.hour).aggregate("mean")
station_data_bikes_hour

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>number</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>...</th>
      <th>42</th>
      <th>43</th>
      <th>44</th>
      <th>45</th>
      <th>46</th>
      <th>47</th>
      <th>48</th>
      <th>49</th>
      <th>50</th>
      <th>51</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.153846</td>
      <td>0.000000</td>
      <td>1.235294</td>
      <td>0.200000</td>
      <td>0.461538</td>
      <td>0.923077</td>
      <td>0.000000</td>
      <td>0.076923</td>
      <td>6.333333</td>
      <td>1.133333</td>
      <td>...</td>
      <td>15.416667</td>
      <td>13.230769</td>
      <td>16.666667</td>
      <td>7.307692</td>
      <td>10.846154</td>
      <td>8.000000</td>
      <td>9.500000</td>
      <td>9.000000</td>
      <td>11.500000</td>
      <td>12.000000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.352941</td>
      <td>0.000000</td>
      <td>0.250000</td>
      <td>1.166667</td>
      <td>0.230769</td>
      <td>0.062500</td>
      <td>4.692308</td>
      <td>0.529412</td>
      <td>...</td>
      <td>15.500000</td>
      <td>12.454545</td>
      <td>17.583333</td>
      <td>7.500000</td>
      <td>11.230769</td>
      <td>8.000000</td>
      <td>9.500000</td>
      <td>9.000000</td>
      <td>11.500000</td>
      <td>12.000000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.416667</td>
      <td>0.285714</td>
      <td>0.000000</td>
      <td>1.083333</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>4.000000</td>
      <td>0.933333</td>
      <td>...</td>
      <td>15.285714</td>
      <td>13.000000</td>
      <td>18.923077</td>
      <td>7.500000</td>
      <td>11.000000</td>
      <td>8.000000</td>
      <td>9.230769</td>
      <td>9.000000</td>
      <td>11.500000</td>
      <td>12.090909</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.500000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>0.076923</td>
      <td>3.846154</td>
      <td>1.000000</td>
      <td>...</td>
      <td>15.636364</td>
      <td>13.000000</td>
      <td>19.000000</td>
      <td>7.500000</td>
      <td>10.500000</td>
      <td>8.000000</td>
      <td>9.181818</td>
      <td>9.000000</td>
      <td>11.500000</td>
      <td>12.000000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.466667</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.933333</td>
      <td>0.000000</td>
      <td>0.214286</td>
      <td>3.538462</td>
      <td>0.857143</td>
      <td>...</td>
      <td>15.384615</td>
      <td>13.000000</td>
      <td>18.500000</td>
      <td>7.769231</td>
      <td>10.538462</td>
      <td>7.571429</td>
      <td>9.000000</td>
      <td>9.000000</td>
      <td>11.500000</td>
      <td>12.000000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.153846</td>
      <td>0.250000</td>
      <td>1.083333</td>
      <td>0.666667</td>
      <td>0.000000</td>
      <td>1.090909</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>3.857143</td>
      <td>1.142857</td>
      <td>...</td>
      <td>15.500000</td>
      <td>13.000000</td>
      <td>18.500000</td>
      <td>8.000000</td>
      <td>10.500000</td>
      <td>7.500000</td>
      <td>9.000000</td>
      <td>9.000000</td>
      <td>11.615385</td>
      <td>11.833333</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2.692308</td>
      <td>1.571429</td>
      <td>2.000000</td>
      <td>3.785714</td>
      <td>0.000000</td>
      <td>1.166667</td>
      <td>0.600000</td>
      <td>0.307692</td>
      <td>1.529412</td>
      <td>0.266667</td>
      <td>...</td>
      <td>15.500000</td>
      <td>13.000000</td>
      <td>17.642857</td>
      <td>7.785714</td>
      <td>9.692308</td>
      <td>6.307692</td>
      <td>9.000000</td>
      <td>9.333333</td>
      <td>11.000000</td>
      <td>11.166667</td>
    </tr>
    <tr>
      <th>7</th>
      <td>5.105263</td>
      <td>3.941176</td>
      <td>5.722222</td>
      <td>14.173913</td>
      <td>2.294118</td>
      <td>1.666667</td>
      <td>3.421053</td>
      <td>1.705882</td>
      <td>3.000000</td>
      <td>0.058824</td>
      <td>...</td>
      <td>14.800000</td>
      <td>11.538462</td>
      <td>15.933333</td>
      <td>5.933333</td>
      <td>6.533333</td>
      <td>5.230769</td>
      <td>8.642857</td>
      <td>9.416667</td>
      <td>9.285714</td>
      <td>10.583333</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6.000000</td>
      <td>4.625000</td>
      <td>9.666667</td>
      <td>8.190476</td>
      <td>7.647059</td>
      <td>2.533333</td>
      <td>9.809524</td>
      <td>2.166667</td>
      <td>1.526316</td>
      <td>0.933333</td>
      <td>...</td>
      <td>14.727273</td>
      <td>10.428571</td>
      <td>12.333333</td>
      <td>2.785714</td>
      <td>3.866667</td>
      <td>4.928571</td>
      <td>5.928571</td>
      <td>8.666667</td>
      <td>8.384615</td>
      <td>10.266667</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10.294118</td>
      <td>10.375000</td>
      <td>7.562500</td>
      <td>14.571429</td>
      <td>12.684211</td>
      <td>4.071429</td>
      <td>10.888889</td>
      <td>2.312500</td>
      <td>1.000000</td>
      <td>0.583333</td>
      <td>...</td>
      <td>10.250000</td>
      <td>7.750000</td>
      <td>6.200000</td>
      <td>3.071429</td>
      <td>4.933333</td>
      <td>4.153846</td>
      <td>3.333333</td>
      <td>7.923077</td>
      <td>7.692308</td>
      <td>9.909091</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9.500000</td>
      <td>15.800000</td>
      <td>11.250000</td>
      <td>14.636364</td>
      <td>8.333333</td>
      <td>4.785714</td>
      <td>10.062500</td>
      <td>5.117647</td>
      <td>2.681818</td>
      <td>0.692308</td>
      <td>...</td>
      <td>10.142857</td>
      <td>6.384615</td>
      <td>2.538462</td>
      <td>2.733333</td>
      <td>4.125000</td>
      <td>3.272727</td>
      <td>2.000000</td>
      <td>7.250000</td>
      <td>7.214286</td>
      <td>9.461538</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12.857143</td>
      <td>15.277778</td>
      <td>10.473684</td>
      <td>13.166667</td>
      <td>7.647059</td>
      <td>5.666667</td>
      <td>9.562500</td>
      <td>4.842105</td>
      <td>5.222222</td>
      <td>1.266667</td>
      <td>...</td>
      <td>10.000000</td>
      <td>6.230769</td>
      <td>2.142857</td>
      <td>4.692308</td>
      <td>6.117647</td>
      <td>3.000000</td>
      <td>2.250000</td>
      <td>6.923077</td>
      <td>6.750000</td>
      <td>8.666667</td>
    </tr>
    <tr>
      <th>12</th>
      <td>16.952381</td>
      <td>14.350000</td>
      <td>12.772727</td>
      <td>16.000000</td>
      <td>8.666667</td>
      <td>6.733333</td>
      <td>7.000000</td>
      <td>5.764706</td>
      <td>9.652174</td>
      <td>1.470588</td>
      <td>...</td>
      <td>9.384615</td>
      <td>6.461538</td>
      <td>1.625000</td>
      <td>3.714286</td>
      <td>3.823529</td>
      <td>3.230769</td>
      <td>4.500000</td>
      <td>5.500000</td>
      <td>8.200000</td>
      <td>9.076923</td>
    </tr>
    <tr>
      <th>13</th>
      <td>15.421053</td>
      <td>11.850000</td>
      <td>12.956522</td>
      <td>18.000000</td>
      <td>13.789474</td>
      <td>5.888889</td>
      <td>7.263158</td>
      <td>7.523810</td>
      <td>17.136364</td>
      <td>4.578947</td>
      <td>...</td>
      <td>10.066667</td>
      <td>5.928571</td>
      <td>0.562500</td>
      <td>4.062500</td>
      <td>1.875000</td>
      <td>3.750000</td>
      <td>5.666667</td>
      <td>5.214286</td>
      <td>7.692308</td>
      <td>9.833333</td>
    </tr>
    <tr>
      <th>14</th>
      <td>7.966667</td>
      <td>5.923077</td>
      <td>5.928571</td>
      <td>5.866667</td>
      <td>12.400000</td>
      <td>5.090909</td>
      <td>3.571429</td>
      <td>6.518519</td>
      <td>16.500000</td>
      <td>7.238095</td>
      <td>...</td>
      <td>9.105263</td>
      <td>6.555556</td>
      <td>3.500000</td>
      <td>3.166667</td>
      <td>3.000000</td>
      <td>6.789474</td>
      <td>5.833333</td>
      <td>7.388889</td>
      <td>10.611111</td>
      <td>9.000000</td>
    </tr>
    <tr>
      <th>15</th>
      <td>1.939394</td>
      <td>0.620690</td>
      <td>7.343750</td>
      <td>1.676471</td>
      <td>6.866667</td>
      <td>3.500000</td>
      <td>0.960000</td>
      <td>4.166667</td>
      <td>10.611111</td>
      <td>8.678571</td>
      <td>...</td>
      <td>9.476190</td>
      <td>7.260870</td>
      <td>5.000000</td>
      <td>5.086957</td>
      <td>4.923077</td>
      <td>7.210526</td>
      <td>5.875000</td>
      <td>6.952381</td>
      <td>11.083333</td>
      <td>10.409091</td>
    </tr>
    <tr>
      <th>16</th>
      <td>4.941176</td>
      <td>3.346154</td>
      <td>6.437500</td>
      <td>1.542857</td>
      <td>1.724138</td>
      <td>1.541667</td>
      <td>0.576923</td>
      <td>2.680000</td>
      <td>5.935484</td>
      <td>9.592593</td>
      <td>...</td>
      <td>11.200000</td>
      <td>5.761905</td>
      <td>4.516129</td>
      <td>5.615385</td>
      <td>4.520000</td>
      <td>6.473684</td>
      <td>6.409091</td>
      <td>8.550000</td>
      <td>10.708333</td>
      <td>12.000000</td>
    </tr>
    <tr>
      <th>17</th>
      <td>8.000000</td>
      <td>11.161290</td>
      <td>14.909091</td>
      <td>2.382353</td>
      <td>0.428571</td>
      <td>1.560000</td>
      <td>0.318182</td>
      <td>1.000000</td>
      <td>4.454545</td>
      <td>6.760000</td>
      <td>...</td>
      <td>9.450000</td>
      <td>6.619048</td>
      <td>3.240000</td>
      <td>6.560000</td>
      <td>4.130435</td>
      <td>7.333333</td>
      <td>7.500000</td>
      <td>8.700000</td>
      <td>11.791667</td>
      <td>11.800000</td>
    </tr>
    <tr>
      <th>18</th>
      <td>10.323529</td>
      <td>11.774194</td>
      <td>5.433333</td>
      <td>4.742857</td>
      <td>1.615385</td>
      <td>1.541667</td>
      <td>1.680000</td>
      <td>2.846154</td>
      <td>3.535714</td>
      <td>5.958333</td>
      <td>...</td>
      <td>7.105263</td>
      <td>7.368421</td>
      <td>5.363636</td>
      <td>6.636364</td>
      <td>3.954545</td>
      <td>7.809524</td>
      <td>6.400000</td>
      <td>8.238095</td>
      <td>7.700000</td>
      <td>13.478261</td>
    </tr>
    <tr>
      <th>19</th>
      <td>8.424242</td>
      <td>11.041667</td>
      <td>6.612903</td>
      <td>8.000000</td>
      <td>2.280000</td>
      <td>2.304348</td>
      <td>4.038462</td>
      <td>1.560000</td>
      <td>4.851852</td>
      <td>6.090909</td>
      <td>...</td>
      <td>8.666667</td>
      <td>9.590909</td>
      <td>8.850000</td>
      <td>7.350000</td>
      <td>4.291667</td>
      <td>8.142857</td>
      <td>6.047619</td>
      <td>8.761905</td>
      <td>6.473684</td>
      <td>11.333333</td>
    </tr>
    <tr>
      <th>20</th>
      <td>9.272727</td>
      <td>9.920000</td>
      <td>6.212121</td>
      <td>14.600000</td>
      <td>2.476190</td>
      <td>3.086957</td>
      <td>5.285714</td>
      <td>2.720000</td>
      <td>9.440000</td>
      <td>6.384615</td>
      <td>...</td>
      <td>7.350000</td>
      <td>10.000000</td>
      <td>8.000000</td>
      <td>6.476190</td>
      <td>5.318182</td>
      <td>7.052632</td>
      <td>4.590909</td>
      <td>8.578947</td>
      <td>8.227273</td>
      <td>11.000000</td>
    </tr>
    <tr>
      <th>21</th>
      <td>5.518519</td>
      <td>8.920000</td>
      <td>4.517241</td>
      <td>9.160000</td>
      <td>2.090909</td>
      <td>4.200000</td>
      <td>3.772727</td>
      <td>1.782609</td>
      <td>10.375000</td>
      <td>8.300000</td>
      <td>...</td>
      <td>7.315789</td>
      <td>10.000000</td>
      <td>7.600000</td>
      <td>5.050000</td>
      <td>6.050000</td>
      <td>7.052632</td>
      <td>6.300000</td>
      <td>8.333333</td>
      <td>9.666667</td>
      <td>11.947368</td>
    </tr>
    <tr>
      <th>22</th>
      <td>1.074074</td>
      <td>5.629630</td>
      <td>1.869565</td>
      <td>5.160000</td>
      <td>1.043478</td>
      <td>3.956522</td>
      <td>1.315789</td>
      <td>1.650000</td>
      <td>7.958333</td>
      <td>7.947368</td>
      <td>...</td>
      <td>7.631579</td>
      <td>9.578947</td>
      <td>9.000000</td>
      <td>5.666667</td>
      <td>11.142857</td>
      <td>7.277778</td>
      <td>8.111111</td>
      <td>8.333333</td>
      <td>10.894737</td>
      <td>12.200000</td>
    </tr>
    <tr>
      <th>23</th>
      <td>0.450000</td>
      <td>2.500000</td>
      <td>0.500000</td>
      <td>1.954545</td>
      <td>0.000000</td>
      <td>2.000000</td>
      <td>0.222222</td>
      <td>2.450000</td>
      <td>7.181818</td>
      <td>5.458333</td>
      <td>...</td>
      <td>9.500000</td>
      <td>8.722222</td>
      <td>12.947368</td>
      <td>6.263158</td>
      <td>11.600000</td>
      <td>8.277778</td>
      <td>9.000000</td>
      <td>8.411765</td>
      <td>11.352941</td>
      <td>11.588235</td>
    </tr>
  </tbody>
</table>
<p>24 rows × 51 columns</p>
</div>

# Porazdelitev razpoložljivih koles glede na uro

In [75]:
bicikelj_pdf = "bicikelj_available.pdf"
pdf = PdfPages(bicikelj_pdf)
for col in station_data_bikes_hour.columns:
    data = station_data_bikes_hour[col].dropna()
    plt.title(str(col) + " - " + station_info_s["name"][col])
    plt.ylim(0, station_info_s["bike_stands"][col])
    plt.xlim(0,23)
    plt.xticks(range(0,25))
    plt.yticks(range(0,station_info_s["bike_stands"][col]+1))
    plt.grid(True)
    # plt.plot(data)
    plt.plot(data, linestyle="steps")
    pdf.savefig()
    close()
pdf.close()

In [76]:
station_data_bikes_hour.plot(linestyle="steps")

# Število koles po urah

Enako kot zgoraj, samo z grupiranjem

In [77]:
station_data_full = pd.read_csv(station_data_fn, index_col="last_update_time", parse_dates=True)
station_data_full.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>available_bike_stands</th>
      <th>available_bikes</th>
      <th>bike_stands</th>
      <th>number</th>
    </tr>
    <tr>
      <th>last_update_time</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-03-29 14:19:25</th>
      <td>17</td>
      <td>3</td>
      <td>20</td>
      <td>42</td>
    </tr>
    <tr>
      <th>2017-03-29 14:19:28</th>
      <td>8</td>
      <td>12</td>
      <td>20</td>
      <td>36</td>
    </tr>
    <tr>
      <th>2017-03-29 14:19:40</th>
      <td>16</td>
      <td>4</td>
      <td>20</td>
      <td>46</td>
    </tr>
    <tr>
      <th>2017-03-29 14:20:16</th>
      <td>13</td>
      <td>7</td>
      <td>20</td>
      <td>51</td>
    </tr>
    <tr>
      <th>2017-03-29 14:20:30</th>
      <td>16</td>
      <td>0</td>
      <td>16</td>
      <td>24</td>
    </tr>
  </tbody>
</table>
</div>

In [78]:
station_group_bikes_hour = station_data_full.groupby(["number", station_data_full.index.hour])["available_bikes"].mean()

In [79]:
# station_group_bikes_hour = station_group_bikes.unstack(level=1)

In [81]:
bicikelj_pdf = "bicikelj_available_2.pdf"
pdf = PdfPages(bicikelj_pdf)
for key in station_group_bikes_hour.index.levels[0]:
    data = station_group_bikes_hour[key]
    plt.title(str(key) + " - " + station_info_s["name"][key])
    plt.ylim(0, station_info_s["bike_stands"][key])
    plt.xlim(0,23)
    plt.xticks(range(0,25))
    plt.yticks(range(0,station_info_s["bike_stands"][key]+1))
    plt.grid(True)
    plt.plot(data, linestyle="steps")
    pdf.savefig()
    close()
pdf.close()

# Izposoje koles

In [82]:
station_data_full = pd.read_csv(station_data_fn, index_col="last_update_time", parse_dates=True)
station_data_full.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>available_bike_stands</th>
      <th>available_bikes</th>
      <th>bike_stands</th>
      <th>number</th>
    </tr>
    <tr>
      <th>last_update_time</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-03-29 14:19:25</th>
      <td>17</td>
      <td>3</td>
      <td>20</td>
      <td>42</td>
    </tr>
    <tr>
      <th>2017-03-29 14:19:28</th>
      <td>8</td>
      <td>12</td>
      <td>20</td>
      <td>36</td>
    </tr>
    <tr>
      <th>2017-03-29 14:19:40</th>
      <td>16</td>
      <td>4</td>
      <td>20</td>
      <td>46</td>
    </tr>
    <tr>
      <th>2017-03-29 14:20:16</th>
      <td>13</td>
      <td>7</td>
      <td>20</td>
      <td>51</td>
    </tr>
    <tr>
      <th>2017-03-29 14:20:30</th>
      <td>16</td>
      <td>0</td>
      <td>16</td>
      <td>24</td>
    </tr>
  </tbody>
</table>
</div>

Urejeno po postajah

In [83]:
station_group_bikes = station_data_full.groupby("number")

In [84]:
type(station_group_bikes.groups)

dict

In [85]:
data = station_group_bikes.get_group(1)
data["change"] = data["available_bikes"].diff()
data.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>available_bike_stands</th>
      <th>available_bikes</th>
      <th>bike_stands</th>
      <th>number</th>
      <th>change</th>
    </tr>
    <tr>
      <th>last_update_time</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-03-29 14:28:53</th>
      <td>16</td>
      <td>4</td>
      <td>20</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-03-29 14:33:15</th>
      <td>18</td>
      <td>2</td>
      <td>20</td>
      <td>1</td>
      <td>-2.0</td>
    </tr>
    <tr>
      <th>2017-03-29 14:36:00</th>
      <td>20</td>
      <td>0</td>
      <td>20</td>
      <td>1</td>
      <td>-2.0</td>
    </tr>
    <tr>
      <th>2017-03-29 14:48:17</th>
      <td>19</td>
      <td>1</td>
      <td>20</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>2017-03-29 14:51:58</th>
      <td>18</td>
      <td>2</td>
      <td>20</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
</div>

In [86]:
bicikelj_pdf = "bicikelj_available_3.pdf"
pdf = PdfPages(bicikelj_pdf)
# List groups
for key, item in station_group_bikes:
    data = station_group_bikes.get_group(key).copy()
    data["change"] = data["available_bikes"].diff()
    plt.title(str(key) + " - " + station_info_s["name"][key])
    plt.plot(data[["available_bikes", "change"]], linestyle="steps")
    plt.grid(True)
    pdf.savefig()
    close()
pdf.close()