In [41]:
import pandas as pd
from datetime import timedelta

In [42]:
# Read Excel table
xls_file = "D:/Kristof/Python/Varia/data/fgg_izpiti.xlsx"
cal_file = "D:/Kristof/Python/Varia/results/fgg_izpiti.csv"
calendar = pd.read_excel(xls_file)

In [43]:
calendar.columns

Index(['Vrsta študija', 'letnik', 'Izvajalec', 'Predmet', 'KT', 'Povezava',
       'Datum izpita', 'Datum izpita.1', 'Datum izpita.2', 'Dodaten rok'],
      dtype='object')

In [44]:
calendar['Description'] = calendar['Vrsta študija'] + " " + calendar['letnik']
calendar['Subject'] = "Izpit - " + calendar['Predmet']
calendar['All day event'] = "True"
calendar = calendar.drop(['Vrsta študija', 'letnik', 'Izvajalec', 'KT', 'Povezava', 'Dodaten rok'], axis=1)

In [45]:
calendar.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Predmet</th>
      <th>Datum izpita</th>
      <th>Datum izpita.1</th>
      <th>Datum izpita.2</th>
      <th>Description</th>
      <th>Subject</th>
      <th>All day event</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Programska orodja v geodeziji</td>
      <td>2018-01-25</td>
      <td>2018-02-09</td>
      <td>2018-09-03</td>
      <td>B I - GIG - UNI 1. letnik</td>
      <td>Izpit - Programska orodja v geodeziji</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Osnove obdelave podatkov</td>
      <td>2018-02-01</td>
      <td>2018-02-15</td>
      <td>2018-09-03</td>
      <td>B I - GIG - UNI 2. letnik</td>
      <td>Izpit - Osnove obdelave podatkov</td>
      <td>True</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Avtomatska obdelava podatkov</td>
      <td>2018-02-02</td>
      <td>2018-07-02</td>
      <td>2018-09-06</td>
      <td>B I - GIG - UNI 2. letnik</td>
      <td>Izpit - Avtomatska obdelava podatkov</td>
      <td>True</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Daljinsko zaznavanje I</td>
      <td>2018-01-30</td>
      <td>2018-02-13</td>
      <td>2018-09-10</td>
      <td>B I - GIG - UNI 3. letnik</td>
      <td>Izpit - Daljinsko zaznavanje I</td>
      <td>True</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Avtomatska obdelava podatkov</td>
      <td>2018-02-02</td>
      <td>2018-07-02</td>
      <td>2018-09-06</td>
      <td>B I - TUN - VSŠ 2. letnik</td>
      <td>Izpit - Avtomatska obdelava podatkov</td>
      <td>True</td>
    </tr>
  </tbody>
</table>
</div>

In [46]:
calendar_ent = pd.melt(calendar.reset_index(), id_vars=['Description', 'Subject', 'All day event'], 
        value_vars=['Datum izpita', 'Datum izpita.1', 'Datum izpita.2']).drop(['variable'], axis=1).dropna()

In [47]:
calendar_ent['Start Date'] = calendar_ent['value']
# calendar_ent['Start Time'] = "00:00:00"
# calendar_ent['End Time'] = "00:00:00"
calendar_ent['Show time as'] = 3
calendar_ent.drop(['value'], inplace=True, axis=1)

In [48]:
# calendar_ent['End Date'] = calendar_ent['Start Date'] + timedelta(days=1)

In [49]:
calendar_ent.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Description</th>
      <th>Subject</th>
      <th>All day event</th>
      <th>Start Date</th>
      <th>Show time as</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>B I - GIG - UNI 1. letnik</td>
      <td>Izpit - Programska orodja v geodeziji</td>
      <td>True</td>
      <td>2018-01-25</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>B I - GIG - UNI 2. letnik</td>
      <td>Izpit - Osnove obdelave podatkov</td>
      <td>True</td>
      <td>2018-02-01</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>B I - GIG - UNI 2. letnik</td>
      <td>Izpit - Avtomatska obdelava podatkov</td>
      <td>True</td>
      <td>2018-02-02</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>B I - GIG - UNI 3. letnik</td>
      <td>Izpit - Daljinsko zaznavanje I</td>
      <td>True</td>
      <td>2018-01-30</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>B I - TUN - VSŠ 2. letnik</td>
      <td>Izpit - Avtomatska obdelava podatkov</td>
      <td>True</td>
      <td>2018-02-02</td>
      <td>3</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
calendar_ent.to_csv(cal_file)

PermissionError: [Errno 13] Permission denied: 'D:/Kristof/Python/Varia/results/fgg_izpiti.csv'