# Remote Sensing — Open Access Journal

Remote Sensing (ISSN 2072-4292) is an open access journal about the science and application of remote sensing technology, and is published monthly online by MDPI. Open Access - free for readers, with publishing fees paid by authors or their institutions. High visibility: indexed by the Science Citation Index Expanded (Web of Science), Compendex (EI) and other specialized databases. Rapid publication: manuscripts are peer-reviewed and a first decision provided to authors approximately 34 days after submission; acceptance to publication is undertaken in 8 days (median values for papers published in this journal in 2015). Impact Factor: 3.180 (2014); 5-Year Impact Factor: 3.257 (2014)

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [4]:
mdpi_file_in = "mdpi_rs_analysis.csv"

In [5]:
df = pd.read_csv(mdpi_file_in)

NameError: name 'pd' is not defined

In [6]:
df.head()

NameError: name 'df' is not defined

In [7]:
df_by_vol = df.groupby(['Issue']).agg(['count'])

NameError: name 'df' is not defined

In [15]:
print(df_by_vol)

        Issue  Paper   URL
        count  count count
Volume
1          74     74    74
2         144    144   144
3         141    141   141
4         188    188   188
5         324    324   324
6         583    583   583
7         783    783   783
8         473    473   473

In [16]:
df

      Volume   Issue   Paper                                      URL
0          8       1      81     http://www.mdpi.com/2072-4292/8/1/81
1          8       1      20     http://www.mdpi.com/2072-4292/8/1/20
2          8       1       6      http://www.mdpi.com/2072-4292/8/1/6
3          8       1      10     http://www.mdpi.com/2072-4292/8/1/10
4          8       1       4      http://www.mdpi.com/2072-4292/8/1/4
5          8       1       8      http://www.mdpi.com/2072-4292/8/1/8
6          8       1       3      http://www.mdpi.com/2072-4292/8/1/3
7          8       1       2      http://www.mdpi.com/2072-4292/8/1/2
8          8       1      60     http://www.mdpi.com/2072-4292/8/1/60
9          8       1      80     http://www.mdpi.com/2072-4292/8/1/80
10         8       1      50     http://www.mdpi.com/2072-4292/8/1/50
11         8       1       5      http://www.mdpi.com/2072-4292/8/1/5
12         8       1       9      http://www.mdpi.com/2072-4292/8/1/9
13         8       1      30     http://www.mdpi.com/2072-4292/8/1/30
14         8       1      31     http://www.mdpi.com/2072-4292/8/1/31
15         8       1      21     http://www.mdpi.com/2072-4292/8/1/21
16         8       1      11     http://www.mdpi.com/2072-4292/8/1/11
17         8       1      41     http://www.mdpi.com/2072-4292/8/1/41
18         8       1      71     http://www.mdpi.com/2072-4292/8/1/71
19         8       1      51     http://www.mdpi.com/2072-4292/8/1/51
20         8       1      22     http://www.mdpi.com/2072-4292/8/1/22
21         8       1      12     http://www.mdpi.com/2072-4292/8/1/12
22         8       1      52     http://www.mdpi.com/2072-4292/8/1/52
23         8       1      42     http://www.mdpi.com/2072-4292/8/1/42
24         8       1      62     http://www.mdpi.com/2072-4292/8/1/62
25         8       1      72     http://www.mdpi.com/2072-4292/8/1/72
26         8       1      32     http://www.mdpi.com/2072-4292/8/1/32
27         8       1      63     http://www.mdpi.com/2072-4292/8/1/63
28         8       1      33     http://www.mdpi.com/2072-4292/8/1/33
29         8       1      13     http://www.mdpi.com/2072-4292/8/1/13
...      ...     ...     ...                                      ...
2680       1       4     842    http://www.mdpi.com/2072-4292/1/4/842
2681       1       4     858    http://www.mdpi.com/2072-4292/1/4/858
2682       1       4     875    http://www.mdpi.com/2072-4292/1/4/875
2683       1       4     896    http://www.mdpi.com/2072-4292/1/4/896
2684       1       4     915    http://www.mdpi.com/2072-4292/1/4/915
2685       1       4     952    http://www.mdpi.com/2072-4292/1/4/952
2686       1       4     971    http://www.mdpi.com/2072-4292/1/4/971
2687       1       4     992    http://www.mdpi.com/2072-4292/1/4/992
2688       1       4    1009   http://www.mdpi.com/2072-4292/1/4/1009
2689       1       4    1028   http://www.mdpi.com/2072-4292/1/4/1028
2690       1       4    1043   http://www.mdpi.com/2072-4292/1/4/1043
2691       1       4    1055   http://www.mdpi.com/2072-4292/1/4/1055
2692       1       4    1065   http://www.mdpi.com/2072-4292/1/4/1065
2693       1       4    1097   http://www.mdpi.com/2072-4292/1/4/1097
2694       1       4    1108   http://www.mdpi.com/2072-4292/1/4/1108
2695       1       4    1125   http://www.mdpi.com/2072-4292/1/4/1125
2696       1       4    1139   http://www.mdpi.com/2072-4292/1/4/1139
2697       1       4    1171   http://www.mdpi.com/2072-4292/1/4/1171
2698       1       4    1190   http://www.mdpi.com/2072-4292/1/4/1190
2699       1       4    1240   http://www.mdpi.com/2072-4292/1/4/1240
2700       1       4    1257   http://www.mdpi.com/2072-4292/1/4/1257
2701       1       4    1273   http://www.mdpi.com/2072-4292/1/4/1273
2702       1       4    1298   http://www.mdpi.com/2072-4292/1/4/1298
2703       1       4    1321   http://www.mdpi.com/2072-4292/1/4/1321
2704       1       4    1338   http://www.mdpi.com/2072-4292/1/4/1338
2705       1       4    1353   http://www.mdpi.com/2072-4292/1/4/1353
2706       1       4    1380   http://www.mdpi.com/2072-4292/1/4/1380
2707       1       4     697    http://www.mdpi.com/2072-4292/1/4/697
2708       1       4     934    http://www.mdpi.com/2072-4292/1/4/934
2709       1       4    1212   http://www.mdpi.com/2072-4292/1/4/1212

[2710 rows x 4 columns]

In [18]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
   ...:                           'foo', 'bar', 'foo', 'foo'],
   ...:                    'B' : ['one', 'one', 'two', 'three',
   ...:                           'two', 'two', 'one', 'three'],
   ...:                    'C' : np.random.randn(8),
   ...:                    'D' : np.random.randn(8)})
   ...:

In [19]:
df

     A      B         C         D
0  foo    one -1.451583  0.970484
1  bar    one  1.137433 -1.519697
2  foo    two  0.232887  0.401743
3  bar  three -1.208406  1.805796
4  foo    two  0.172249 -0.235282
5  bar    two -2.067925 -0.837742
6  foo    one  0.361228  1.045209
7  foo  three  0.654257 -2.208185

In [20]:
grouped = df.groupby(['A', 'B'])

In [21]:
grouped

In [22]:
print(grouped)

<pandas.core.groupby.DataFrameGroupBy object at 0x11483b748>