Remote Sensing â€” Open Access Journal

Remote Sensing (ISSN 2072-4292) is an open access journal about the science and application of remote sensing technology, and is published monthly online by MDPI. Open Access - free for readers, with publishing fees paid by authors or their institutions. High visibility: indexed by the Science Citation Index Expanded (Web of Science), Compendex (EI) and other specialized databases. Rapid publication: manuscripts are peer-reviewed and a first decision provided to authors approximately 34 days after submission; acceptance to publication is undertaken in 8 days (median values for papers published in this journal in 2015). Impact Factor: 3.180 (2014); 5-Year Impact Factor: 3.257 (2014)

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
mdpi_file_in = "mdpi_rs_analysis.csv"

In [3]:
df = pd.read_csv(mdpi_file_in)

In [4]:
df.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Volume</th>
      <th>Issue</th>
      <th>Paper</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>6</td>
      <td>1</td>
      <td>905</td>
      <td>http://www.mdpi.com/2072-4292/6/1/905</td>
    </tr>
    <tr>
      <th>1</th>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>http://www.mdpi.com/2072-4292/6/1/1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>1</td>
      <td>20</td>
      <td>http://www.mdpi.com/2072-4292/6/1/20</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>1</td>
      <td>42</td>
      <td>http://www.mdpi.com/2072-4292/6/1/42</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>1</td>
      <td>64</td>
      <td>http://www.mdpi.com/2072-4292/6/1/64</td>
    </tr>
  </tbody>
</table>
</div>